// ==========================================================================
// Global Settings
// ==========================================================================
// @import 'helpers/config';
// @import 'helpers/colors';
// Mixins
// @import 'helpers/mixins/breakpoints';
// @import 'helpers/mixins/clearfix';
// @import 'helpers/mixins/input-placeholder';
// @import 'helpers/mixins/position';
// @import 'helpers/mixins/position-center';
// @import 'helpers/mixins/reset-list';
// @import 'helpers/mixins/hardware-acceleration';
// @import 'helpers/mixins/truncate';
// @import 'helpers/mixins/background-transition';
// @import 'helpers/mixins/slanted-edge';

// ==========================================================================
// Base Styles
// ==========================================================================
@import "base/reset";
@import "base/base";
// @import 'base/typography';

// ==========================================================================
// Components
// Styles for generic UI components
// Examples include navbar, dialog boxes, carousels, sidebar etc
// ==========================================================================
// @import 'components/button';
// @import 'components/checkbox';

//Layouts
// @import 'layouts/todo';

h1 {
  font-size: 25px;
  font-weight: bold;
  color: #1a1919cc;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  color: #1a1919cc;
}

p {
  font-size: 15px;
  color: #1a1919cc;
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: #1a1919cc;
}
input,
textarea,
button,
select {
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  margin: 3px 0;
  border-radius: 5px;
}

/**********************
 * main container box *
 **********************/
.main-container {
  max-width: 1000px;
  width: 100%;
  margin: 10px auto;
  background: rgb(224, 215, 172);
  /**********
   * navbar *
   **********/
   ul.comment{
     list-style-type: square;
   }
  .nav-bar {
    width: 100%;
    background: rgb(241, 122, 25);
    z-index: 1;
    color: white;
    padding: 8px;
    margin-bottom: 10px;
    /************
     * navbar ul *
     ************/
    &__list {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      /**************
       * navbar link *
       ***************/
      .nav-bar__list-link {
        text-decoration: none;
        color: white;
        /****************
         * navbar title *
         ****************/
        .nav-bar--title {
          color: black;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }
  /*******************
  * story container  *
  *******************/

  .story-container {
    padding: 20px 30px;
    .story {
      margin-bottom: 20px;
      &__title {
        font-size: 18px;
      }
      &__info{
        font-size: 12px;
      }
    }
  }
}
